.children { min-height: 700px; }

.afshin {
  background-color: #bbdefb;
  text-align: center;
  color: grey;
  padding: 10px 0;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.afshin p{
  font-weight: 500;
  color: #545252;
  margin-right: 10px;

}



